// http://dev.w3.org/csswg/css-flexbox/

body {
  font-family: Tahoma, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;

  display: -webkit-flex;
  -webkit-flex-direction: column;
}

header {
  display: -webkit-flex;
  -webkit-align-items: center;
  border-bottom: 1px solid gray;
  padding: 10px;
  .center {
    -webkit-flex: 1;
    text-align: center;
  }
}

footer {
  padding: 10px;
  box-sizing: border-box;
  border-top: 1px solid gray;
}

a[data-disabled] {
  color: #ccc;
  text-decoration: line-through;
}

.textbox {
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.dropbox {
  .textbox();
  border: 2px dashed gray;
  width: 20%;
  height: 70px;
  &.over {
    border: 2px solid gray;
  }
}

#generate {
  .textbox();
  border: 1px solid gray;
  cursor: default;
  -webkit-user-select: none;
  &:hover {
    background: #d2d2d2;
  }
}

#download {
  @height: 3em;
  display: none;
  width: 100%;
  text-align: center;
  height: @height;
  line-height: @height;
  margin-bottom: 10px;
}

input[type=search] {
  font-size: 1.1em;
  width: 80%;
}

.content {
  -webkit-flex: 1;
  margin: 10px;
}

.item {
  display: -webkit-flex;
  &.header > div {
    background: #d2d2d2;
  }
  >div {
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    height: 2em;
    border: 1px solid gray;
    input {
      width: 100%;
      height: 100%;
      border: none;
      padding: 0 5px;
    }
  }
  &.todo input {
    background: #f8cb9c;
  }
  .id {
    -webkit-flex: 1;
  }
  .from {
    -webkit-flex: 3;
  }
  .to {
    -webkit-flex: 3;
  }
}

@media all and (max-width: 700px) {
  header {
    -webkit-flex-direction: column;
    .dropbox {
      height: 1em;
      -webkit-order: -1;
      width: 95%;
    }
    :first-child {
      margin-bottom: 10px;
    }
    .center {
      width: 95%;
    }
    h3 {
      display: none;
    }
    input {
      margin-top: 10px;
    }
  }

  .item {
    -webkit-flex-direction: column;
    margin: 10px 0;
    border: 1px solid gray;
    &.header {
      display: none;
    }
    >div {
      border: none;
    }
    div:before {
      display: -webkit-flex;
      -webkit-justify-content: flex-end;
      -webkit-align-items: center;
      width: 120px;
      padding: 0 5px;
      border-right: 1px solid gray;
      background: #f2f2f9;
      height: 100%;
    }
    .id:before {
      content: "ID:"
    }
    .from:before {
      content: "Original:";
    }
    .to:before {
      content: "Translation:";
    }
  }
}