<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Translation Editor</title>
    <meta charset="utf-8">
    <link rel="stylesheet/less" type="text/css" href="less/app.less" />
    <script src="js/vendor/less.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/angular.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="Translator">
<header>
        <div id="from-box" data-prop="from" class="dropbox" dnd>{{fromText}}</div>
        <div class="center">
            <h3>Translation Editor</h3>
            <input type="search" results="5" placeholder="Search..." ng-model="query" /><br>
            <input type="checkbox" ng-model="onlyEmpty" />Show untranslated lines only
        </div>
        <div id="to-box" data-prop="to" class="dropbox" dnd>{{toText}}</div>
</header>
<div class="content" ng-show="items.length">
    <div class="item header">
        <div class="id">ID</div>
        <div class="from">Original</div>
        <div class="to">Translation</div>
    </div>

    <div ng-repeat="item in items | filter:query | orderBy:orderProp" ng-show="!onlyEmpty || item.to === ''" class="item {{item.to === '' ? 'todo' : ''}}">
        <div class="id"><input type="text" readonly ng-model="item.id" /></div>
        <div class="from"><input type="text" readonly ng-model="item.from" /></div>
        <div class="to"><input type="text" ng-model="item.to" /></div>
    </div>

</div>
<footer ng-show="items.length">
    <div id="download"></div>
    <div id="generate" ng-click="generateDownload()">Generate</div>
</footer>
</body>
</html>